/* Reset
**********/
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* Jelly
**********/
html,
body {
  height: 100%;
}
xbody {
  transform: scale(3);
  transform-origin: top;
  overflow-x: hidden;
}

.App.loading,
#error {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 101%;
  min-height: 101%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.App.loading p,
#error p {
  font-weight: bold;
  margin-top: 25%;
}

/* Grayscale
*************/
.grayscale,
.greyscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

/* Chrome
**********/

/* Chrome -> Shadow
*******************/
.tagList li,
.userList ul li {
  border-radius: 6px;
  overflow: hidden;
  border: 1px outset;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,.3);
}
.userList .tagList li {
  box-shadow: none;
}

/* Chrome -> Headed Divisions
*****************************/
.hdiv > p,
.hdiv > ul {
  padding: 2em;
}

.hdiv .hdiv > p,
.hdiv .hdiv > ul {
  padding: 0;
}

.hdiv > h2 {
  line-height: 1.7em;
  background: #ccc;
}

/* Chrome -> Buttons
********************/
button {
  -moz-box-shadow: 0px 3px 4px -2px #2b2b2b;
  -webkit-box-shadow: 0px 3px 4px -2px #2b2b2b;
  box-shadow: 0px 3px 4px -2px #2b2b2b;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bababa));
  background:-moz-linear-gradient(top, #ededed 5%, #bababa 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #bababa 100%);
  background:-o-linear-gradient(top, #ededed 5%, #bababa 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #bababa 100%);
  background:linear-gradient(to bottom, #ededed 5%, #bababa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bababa',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  border:2px solid #c2c2c2;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size: 13px;
  padding:7px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e8e8e8;
}
button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bababa), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #bababa 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #bababa 5%, #ededed 100%);
  background:-o-linear-gradient(top, #bababa 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #bababa 5%, #ededed 100%);
  background:linear-gradient(to bottom, #bababa 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#ededed',GradientType=0);
  background-color:#bababa;
}
button:active {
  position:relative;
  top:1px;
}

/* App
********/
.App {
  text-align: center;
}
.App.loading,
#error {
  color: #fff;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
  font-size: 30px;
}

.App.loading,
header,
#error {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('/background.jpg');
  background-size: cover;
}

/* App -> Header
*******************/
header {
  height: 15em;
  margin: 0;
  padding-top: 2.5em;
}

header > a {
  display: inline-block;
  color: #bbb;
}
header > a.active {
  color: #fff;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

/* Lists -> Tags
*****************/
.tagList {
  text-align: center;
}

.tagList li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  overflow: hidden;
  height: 1em;
  white-space: nowrap;
  text-align: left;
  line-height: 1em;
  background: #fff;
}

.tagList li.emoji_mode {
  width: auto;
}

/* Lists -> Users
*****************/
.userList ul li {
  position: relative;
  border: 1px outset #fff;
  background: #fff;
  width: 170px;
  background: #fff;
  display: inline-block;
}
.userList ul li.me:after {
  content: '';
  background: url('/stripe.png') repeat;
  width: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.userList ul li p {
  margin: 0;
  line-height: 4em;
  font-weight: bold;
}

.userList ul li img {
  float: left;
}

/* Lists -> Users Tags
***********************/
.userList .tagList {
  clear: both;
}

.userList .tagList ul li {
  padding: 0;
  border: 0;
  font-size: 20px;
}

/* Lists -> Tests
******************/
.testList ul li {
  padding: 2em;
}

.testList ul li:not(:last-child) {
  border-bottom: 1px dotted #ccc;
}

.testList ul li .question {
  margin-bottom: 1em;
}

.testList ul li button {
  margin: 0 0.5em;
}

/* Card Fan
************/
.cardFan {
  position: relative;
  height: 100px;
}
.userList .cardFan > li,
.cardFan > li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center 120%;
  transition: transform 1s ease-out;
}
.cardFan > li:hover {
  z-index: 10;
}

/* Privacy Layout
******************/
.privacy .cardFan {
  height: 240px;
}

.privacy .Private h3 {
  color: blue;
}
.privacy .Close h3 {
  color: green;
}
.privacy .Near h3 {
  color: yellow;
}
.privacy .Far h3 {
  color: orange;
}
.privacy .Public h3 {
  color: red;
}

/* Compose Test
***************/
.composeTest form {
  margin: auto;
  width: 500px;
}

/* Clearfix
************/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

iframe {
  display: block;
  margin: auto;
  margin-top: 100px;
}
