/* Reset
**********/
a {
	text-decoration: none;
	color: inherit;
	outline: none;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

/* Grayscale
*************/
body,
.grayscale,
.greyscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
}

/* Buttons
**********/
.test input.choice,
button {
  -moz-box-shadow: 0px 3px 4px -2px #2b2b2b;
  -webkit-box-shadow: 0px 3px 4px -2px #2b2b2b;
  box-shadow: 0px 3px 4px -2px #2b2b2b;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bababa));
  background:-moz-linear-gradient(top, #ededed 5%, #bababa 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #bababa 100%);
  background:-o-linear-gradient(top, #ededed 5%, #bababa 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #bababa 100%);
  background:linear-gradient(to bottom, #ededed 5%, #bababa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bababa',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  border:2px solid #c2c2c2;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size: 13px;
  padding:7px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e8e8e8;
}
.test input.choice:hover,
button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bababa), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #bababa 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #bababa 5%, #ededed 100%);
  background:-o-linear-gradient(top, #bababa 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #bababa 5%, #ededed 100%);
  background:linear-gradient(to bottom, #bababa 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#ededed',GradientType=0);
  background-color:#bababa;
}
.test input.choice:active,
button:active {
  position:relative;
  top:1px;
}

/* Box
*******/
.tag,
.user {
	background: #dedede;
  border-radius: 6px;
  overflow: hidden;
  border: 1px outset #fff;
	box-shadow: 0px 0.5px 6px -2px rgba(0,0,0,.6);
	box-sizing: border-box;
}

/* Header
*********/
header {
	background-color: #222;
	background-image: url("/background.jpg");
	background-repeat: no-repeat;
	text-align: center;
}
header > div {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&1+0,0+50,1+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	padding: 1em 0 0;
}
header .user {
	margin: 1em auto;
}
header #nav {
	font-size: 15px;
	padding-bottom: 3em;
}
header #nav li {
	display: inline-block;
	border-right: 1px solid #333;
}
header #nav li:last-child {
	border-right: 0;
}
header #nav li a {
	padding: 0.25em 5px;
	color: #000;
}
header #nav li a.active {
	color: #fff;
}

/* Layout
**********/
.layout {
	padding: 0 1em 1em 1em
}

/* Layout -> User List
**********************/
.layout.userList .user {
	margin: 1em;
}

/* Privacy Selector
*******************/
.privacySelector {
	margin: 1em;
	height: 30px;
}
.privacySelector .rc-slider-dot {
	box-shadow: inset 2px 2px 4px -4px rgba(0,0,0,0.75);
}

/* Tag
*******/
.tag {
	display: inline-block;
	padding: 2px;
	font-size: 10px;
	border-radius: 3px;
}

/* Tag -> Emoji
**************/
.tag.emoji_mode {
	padding: 0;
	border: 0;
	background: transparent;
}

/* User
*******/
.user {
	overflow: hidden;
}
.user > .name {
	white-space: nowrap;
	text-overflow: ellipsis;
  margin: 0;
}
.user > .image {
	overflow: hidden;
	display: block;
	float: left;
	width: 50px;
	height: 50px;
}
.user > .image > img {
	width: 50px;
}
.user .tag {
	display: inline-block;
	margin: 5px;
}
.user .privacySelector {
  float: right;
  width: 17px;
  height: 37px;
  margin: 0.25em 0 0 0;
}
.user .masquerade {
	float: right;
	color: #bbb;
}

/* User Full
*************/
.user.full {
	padding: 1em;
	padding-bottom: 0;
}
.user.full > .image {
	margin: 0 1em 0.5em 0;
}
.user.full > .name {
	line-height: 50px;
	font-size: 2em;
}
.user.full .intro,
.user.full .tagList {
	text-align: center;
	clear: both;
	margin: 1em 0;
}
.user.full .intro {
	text-align: justify;
}
.user.full .privacySelector {
	width: 60px;
}
.user.full .masquerade {
	margin-right: 1em;
}
.user.full .relations .user {
	display: inline-block;
}
.user.full .relations {
	margin-left: -1em;
	padding-left: 1em;
}
.user.full .relations > li {
	width: 100%;
	padding-right: 0.5em;
	margin-left: -1em;
	padding-left: 1.5em;
}
.user.full .relations > li:nth-child(1) {
	background: #ddd;
}

.user.full .relations > li:nth-child(2) {
	background: #bbb;
}

.user.full .relations > li:nth-child(3) {
	background: #999;
}

.user.full .relations > li:nth-child(4) {
	background: #777;
}

.user.full .relations > li:nth-child(5) {
	background: #555;
}

.user.full .relations > li:nth-child(6) {
	background: #333;
}

.user.full .relations > li > span {
	float: left;
	line-height: 100px;
	font-size: 3em;
}

.user.full .relations > li > .list {
	height: 50px;
	margin-left: 80px;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap
}
.user.full .relations > li > .users {
	position: absolute;
	top: 0;
	left: 60px;
}
.user.full .relations > li > .tags {
	position: absolute;
	top: 50px;
	left: 60px;
}

/* User Card
*************/
.user.card {
  position: relative;
  width: 170px;
	height: 90px;
  display: inline-block;
	text-align: left;
	font-size: 12px;
	padding: 5px 20px 5px 60px;
}
.user.card {
	padding-top: 18px;
}
.user.card > .image {
	margin: 0 0 0 -55px;
}
.user.card.no-tags > p > a {
  line-height: 4em;
}
.user.card > p > a {
  line-height: 3em;
  font-weight: bold;
}
.user.card .masquerade {
	font-size: 10px;
	margin: -12px -15px 0 0;
}
.user.card .privacySelector {
	float: right;
	margin-top: 10px;
	margin-right: -14px;
}
.user.card .tagList {
	margin: -10px 0 0 0;
}
.user.card .tag {
	margin: 3px;
	margin-left: 0;
	box-shadow: none;
	font-size: 12px;
}
.user.card.me:after {
  content: '';
  background: url('/stripe.png') repeat;
  width: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

/* User Face
*************/
.user.face {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	padding: 0;
}
.user.face .masquerade {
	display: none;
}
.user.face > a > img {
	width: 50px;
}
.user.face .tagList,
.user.face .testList,
.user.face > .name {
	display: none;
}

/* Lists -> Tests
******************/
.testList {
	text-align: center;
}
.testList .test:not(:last-child) {
  border-bottom: 1px dotted #ccc;
}

/* Tests
*********/
.test {
  padding: 2em;
  text-align: center;
}

.test .question {
  margin-bottom: 1em;
}

.test button {
  margin: 0.5em;
}

/* Tests -> Editor
*******************/
.test.edit input.question {
	display: block;
	text-align: center;
	margin: auto;
	border: 0;
}
.test.edit input.choice {
	text-align: center;
	display: inline-block;
	margin: 3em 0 0.5em 0;
}
.test.edit .tagInputs {
	margin: 1em 0;
}
.test.edit .tagDisplay {
	margin-bottom: 5em;
}
.test.edit .tagDisplay .tag {
	font-size: 25px;
}
.test.edit .emoji-mart {
	position: sticky;
	top: 0;
}

/* Specimen
************/
.specimenLayout .user {
	display: inline-block;
}
.specimenLayout .user.card {
	margin: 0.5em;
}
.specimenLayout .stack > div {
	float: left;
}

/* Stack
*********/
.stack {
	clear: both;
	margin: 1em;
	height: 100px;
	width: 250px;
}
.stack > div {
	float: left;
	height: 100%;
	width: 30%;
	text-align: center;
	margin: 0.5em;
	border: 3px dashed #ddd;
}
.stack > div > div {
	display: inline-block;
	margin-left: -45px;
}
.stack > div:nth-child(2) > div {
	margin-left: -55px;
}

/* Clearfix
************/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

iframe {
  display: block;
  margin: auto;
  margin-top: 100px;
}
