/* Reset
**********/
a {
	text-decoration: none;
	color: inherit;
	outline: none;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

/* Grayscale
*************/
body,
.grayscale,
.greyscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
}

/* Box
*******/
.tag,
.user {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  border: 1px outset;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,.3);
	box-sizing: border-box;
}

/* Header
*********/
header {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url('/background.jpg');
	text-align: center;
	padding: 1em 0 0;
}
header .user {
	margin: 1em auto;
}
header #nav {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+5&0+0,1+5 */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
header #nav li {
	display: inline-block;
}
header #nav li a {
	padding: 0.25em 1em;
	color: #777;
	border-radius: 10px;
}
header #nav li a.active {
	background: #fff;
	color: #000;
}

/* Tag
*******/
.tag {
	padding: 5px;
}

/* Tag -> Emoji
**************/
.tag.emoji_mode {
	padding: 0;
	border: 0;
}

/* User
*******/
.user {
	overflow: hidden;
}
.user > div > .name {
	white-space: nowrap;
	text-overflow: ellipsis;
  margin: 0;
}
.user > div > a > img {
	width: 50px;
	float: left;
}
.user .tag {
	display: inline-block;
	margin: 5px;
}
.user .privacySelector {
  float: right;
  width: 17px;
  height: 37px;
  margin-top: 0.25em;
}

/* User Full
*************/
.user.full {
}
.user.full > div > a > img {
	margin: 0 1em 0.5em 0;
}
.user.full > div > .name {
	line-height: 50px;
	font-size: 2em;
}
.user.full .intro,
.user.full .tagList {
	text-align: center;
	clear: both;
	margin: 1em 0;
}
.user.full .privacySelector {
	width: 60px;
}

/* User Card
*************/
.user.card {
  position: relative;
  width: 170px;
	height: 90px;
  display: inline-block;
	text-align: left;
	font-size: 12px;
	padding: 5px 20px 5px 60px;
}
.user.card > div > a > img {
	margin: -5px 0 0 -60px;
}
.user.card > div > a > p {
  line-height: 4em;
  font-weight: bold;
 }
.user.card .privacySelector {
	float: right;
	height: 30px;
	margin-top: 10px;
	margin-right: -14px;
}
.user.card .tagList {
	margin: 5px 0 0 0;
}
.user.card .tag {
	margin: 3px;
	box-shadow: none;
}
.user.card.me:after {
  content: '';
  background: url('/stripe.png') repeat;
  width: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

/* User Face
*************/
.user.face {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	padding: 0;
}
.user.face > div > a > img {
	width: 50px;
}
.user.face .tagList,
.user.face .testList,
.user.face > div > .name {
	display: none;
}

/* Lists -> Tests
******************/
.testList {
	text-align: center;
}

.testList ul li {
  padding: 2em;
}

.testList ul li:not(:last-child) {
  border-bottom: 1px dotted #ccc;
}

.testList ul li .question {
  margin-bottom: 1em;
}

.testList ul li button {
  margin: 0.5em;
}

/* Specimen
************/
.specimenLayout .user {
	display: inline-block;
}
.specimenLayout .user.card {
	margin: 0.5em;
}
.specimenLayout .stack > div {
	float: left;
}

/* Stack
*********/
.stack {
	clear: both;
	margin: 1em;
	height: 100px;
	width: 250px;
}
.stack > div {
	float: left;
	height: 100%;
	width: 30%;
	text-align: center;
	margin: 0.5em;
	border: 3px dashed #ddd;
}
.stack > div > div {
	display: inline-block;
	margin-left: -45px;
}
.stack > div:nth-child(2) > div {
	margin-left: -55px;
}

/* Clearfix
************/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

iframe {
  display: block;
  margin: auto;
  margin-top: 100px;
}
